<div class="container">
  <h1>My Open Source</h1>

  <div class="events">
    <h5>Search OS Events </h5>
    <form class="" action="welcome/events" method="get">
      <input type="text" name="zip" placeholder="zip code"/>
      <input type="submit" value="search"/>
    </form>
  </div>

</div>
